extend layout

block content
  .header
    h1 New Post
  .content
    input(type='text' placeholder='Titel')#post-title
    input(type='text' placeholder='keywords')#post-keywords
    .post
      textarea#post-content
      button#post-submit Submit
